# Docker Compose Environment Variables
NAME=guno

# User
UID=1000
GID=1000

# PHP-Apache
PHP_VERSION=8.3-apache

# MySQL
MYSQL_VERSION=8.0
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_NAME="${NAME}"
MYSQL_USER="${NAME}"
MYSQL_PASSWORD=guno456
MYSQL_ROOT_PASSWORD=Guno456$
