###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> symfony/framework-bundle ###
APP_ENV=
APP_SECRET=
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=https://vettrack.proyectozero.org
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###

###> symfony/mailgun-mailer ###
 MAILER_DSN=
###< symfony/mailgun-mailer ###

MAIL_FROM_EMAIL="vettrack@mg.libretux.org"


FRONTEND_URL=https://vettrack.proyectozero.org